<div>
    <div class=" text-center bg-dark text-light">
        <div class="row">
            <div class="col-12 col-md-6 p-3 font-weight-bold">Coffe House Pókemon</div>
            <div class="col-12 col-md-6">
                <a href="https://www.instagram.com/"><i class="fab fa-instagram fa-2x p-2 text-white"
                        class="col-12 col-sm-6 col-md-2"></i></a>
                <a href="https://www.twitter.com/"><i class="fab fa-twitter-square fa-2x p-2 text-white"
                        class="col-12 col-sm-6 col-md-2"></i></a>
                <a href="https://www.facebook.com/"><i class="fab fa-facebook-square fa-2x p-2 text-white"
                        class="col-12 col-sm-6 col-md-2"></i></a>
                <p class="float-center">
                    <a href="#"><small class="text-center font-weight-bold">Volver al inicio</small></a>
            </div>
        </div>
    </div>
</div>