<div class="container py-5">
    <form id="formLogin">
        <div class="form-group">
            <label for="email">E-Mail</label>
            <input value="ejemplo@ejemplo.com" type="email" class="form-control" id="email"
                aria-describedby="emailHelp" placeholder="Ingrese su e-mail">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input  type="password" class="form-control" id="password"
                placeholder="Password">
        </div>

        <button type="submit" class="btn btn-primary" id="btnLogin">Login</button>
    </form>
</div>

<script>

    $("#formLogin").submit(async (e) => {
        e.preventDefault()
        const form = e.target
        let elements = Array.from(form).map(i => i.type == "email" || i.type == "password" ? i.value : false)
        elements = elements.filter(i => i)
        let length_Final = elements.length
        let [email, password] = elements;
        
        try {
            const { data } = await axios.post("/login", {
                email, password
            })
            const user = data
            alert("Cliente Logeado con éxito")
            localStorage.setItem("user", JSON.stringify(user));
            window.location = "/"
        } catch (e) {
            alert("Estimado Cliente, usted no se encuentra en nuestros registros.")
            console.log(e)
        }
    })
    

</script>