{{!-- <section id="contact" class="section-padding fadeInUp delay-05s">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center white">
                <h2 class="service-title pad-bt15">Contáctanos</h2>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="loction-info white">
                    <p><i class="fa fa-map-marker fa-fw pull-left fa-2x"></i>Dirección: Santiago</p>
                    <p><i class="fa fa-envelope-o fa-fw pull-left fa-2x"></i>consultas@pokemonhousecoffe.com</p>
                    <p><i class="fa fa-phone fa-fw pull-left fa-2x"></i>+2 23456789</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="contact-form">
                    <form action="" method="post" role="form" class="contactForm">
                        <div class="col-md-6 padding-right-zero">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" id="name"
                                    placeholder="Ingrese su Nombre" data-rule="minlen:4"
                                    data-msg="Por favor ingresa al menos 4 caracteres" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" id="email"
                                    placeholder="Ingrese su Email" data-rule="email"
                                    data-msg="Por favor ingresa un email válido" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto"
                                    data-rule="minlen:4" data-msg="Ingresa al menos 8 caracteres en asunto" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea class="form-control" name="message" rows="5" data-rule="required"
                                    data-msg="Por favor escribe algo para nosotros"
                                    placeholder="Por favor ingrese un mensaje"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary btn-submit">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section> --}}
